.spinner {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  z-index: 999999999;
  background-color: #19bd9b;
}

.cube1, .cube2 {
  background-color: #fff;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 40%;
  left: 48%;

  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

button:focus {
  outline: none !important;
}
.navbar-default {
  background: #202833 !important;
  border-color: #202833 !important;
  padding-top: 30px;
  padding-bottom: 30px;
  transition: .5s;
}

.navbar-toggle {
  border: none !important;
}

.navbar-toggle:hover {
  background: transparent !important;
}


.icon-bar {
  background: white !important;
}

.icon-bar-shrink {
  background: black !important;
}
.navbar-brand {
  color: white !important;
  font-size: 30px !important;
  font-family: 'Kaushan Script' !important;
}

.navbar-brand-shrink {
  color: #212121 !important;
}
.navbar-nav > li > a {
  color: white !important;
  font-family: 'PT Sans Narrow';
  font-weight: bold;
  font-size: 15px;
  padding-right: 15px;
}

.navbar-nav-shrink > li > a {
  color: #212121 !important;
}
.navbar-nav > li {
  transition: linear .5s;
}
.navbar-nav > li:hover {
  border-color: #19bd9b;
}
.navbar-nav > li > a {
  transition: linear .5s;
}
.navbar-nav > li > a:hover {
  color: #19bd9b !important;
}

.navbar-nav > .active > a {
  color: #19bd9b !important;
  background-color: transparent !important;
}

.navbar-nav > .active {
  border-color: #19bd9b !important;
}

.navbar-shrink {
  padding: 5px 0px 5px 0px;
  background: white !important;
  border-color: white !important;
  box-shadow: 0 0 5px grey;
  transition: 1s;
}
#home
 {
  background-color: #212F3D ;
}

#profile-picture {
  margin-top: 200px;
  width: 200px;
  height: 200px;
}
#home-details {
  text-align: center;
  font-size: 30px;
}

#home-details > h1 {
  font-weight: bold;
  color: white;
  font-family: 'Montserrat';
  font-size: 55px !important;
}

#home-details > h2 {
  color: #ABB2B9;
  font-family: arial;
  font-weight: bold;
  font-size: 20px;
}

#field-details > img {
  width: 50px;
  height: 50px;
  background-color: #202833;
  border-color: #202833 !important;
  margin: 10px 10px 100px 10px;
  border: solid 3px white;
  padding: 5px;
}

/*div#svg{
  margin-top: 40px;
  height: 300px !important;
  background-image: url("../images/svg_image.svg");
  background-repeat: no-repeat;
  background-size: cover;
}*/
#about > .container-fluid {
    padding: 100px 80px 100px 80px;
}

#about {
  /*background-color: #202833;*/
}
#about-me > .blockquote {
  border-left: 5px solid #19bd9b;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 30px;
  color: #2d3e50;
}
 #social-desc > div > .blockquote, #contact-desc > div > .blockquote,  #skills-desc > div > .blockquote, #projects-desc > div > .blockquote , #resume-desc > div > .blockquote{
  border-left: 5px solid #19bd9b;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 30px;
  color: #2d3e50;
}

#about-me-content {
  font-family: 'PT Sans Narrow';
  color: black;
  font-size: 20px;
  margin-top: 50px;
}

#about-me-content > a {
  color: #19bd9b;
}
#about-me-content > a:hover {
  text-decoration: none;
}

#things-i-like > div > img {
  width: 150px;
  height: 150px;
  border: solid 7px teal;
}

#resume {
  background-color: #2d3e50;
  background-image: url("../images/resume.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

#resume > .container-fluid {
  padding: 100px 80px 30px 80px;
}

#resume-desc > div > .blockquote {
  color: white;
  margin-bottom: 30px;
}

#download-resume {
  margin-top: 30px;
  border-radius: 0px;
  border: solid 3px white;
  color: white;
  padding: 20px 20px 20px 20px;
  background-color: #374456;
  font-weight: bold;
  transition: 0.3s;
}

#download-resume:focus {
  outline: none;
}
#download-resume:hover {
  border-color: #19bd9b;
  background-color: #19bd9b;
}
@media screen and (max-width  : 783px) {
  html,body {
    overflow-x: hidden;
  }

.navbar-default {
  padding-top: 10px;
  padding-bottom: 10px;
}
  #resume > .container-fluid {
    padding: 100px 30px 30px 30px;
  }

#about > .container-fluid {
padding: 100px 30px 100px 30px;
}
#skills > .container-fluid {
    padding: 100px 30px 100px 30px;
}
#projects-desc {
  padding: 80px 30px 0px 30px;
}
#social > .container-fluid {
padding: 100px 30px 100px 30px;
}
#contact > .container-fluid {
  padding: 100px 30px 30px 30px;
}
#links > a > i.fa, #links > a > strong {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px 8px 0px 8px;
}

#picture-container{
  padding:0px 0px 0px 0px !important;
  margin: 0px 0px 0px 0px !important;
}

#profile-picture {
  margin-top: 100px;
}

#links {
  margin-top: 40px;
}
}

